<div style="padding-left: 5px;">
  <h2 mat-dialog-title>Create new session</h2>

  <mat-form-field appearance="fill">
    <mat-label> {{selectedDay}}</mat-label>
    <mat-select>
      <mat-option *ngFor="let d of days" (click)="setDay(d)">
        {{ d.d }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field float appearance="outline">
    <mat-label> Title </mat-label>
    <input matInput required type="text" [(ngModel)]="title" />
  </mat-form-field>

  <br />

  <mat-form-field appearance="fill">
    <mat-label> {{ selectedCat }}</mat-label>
    <mat-select>
      <mat-option *ngFor="let c of categories | keyvalue" (click)="setCat(c)">
        {{ c.key }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <mat-form-field float appearance="outline">
    <mat-label> Start time </mat-label>
    <input
      matTimepicker
      placeholder="Start time"
      [(ngModel)]="startTime"
      mode="24h"
      [minDate]="min"
      [maxDate]="max"
    />
  </mat-form-field>

  <mat-form-field float appearance="outline">
    <mat-label> End time </mat-label>
    <input
      matTimepicker
      placeholder="End time..."
      [(ngModel)]="endTime"
      mode="24h"
      [minDate]="min"
      [maxDate]="max"
    />
  </mat-form-field>


  <div style="padding: 5px;">

    <input [style.background]="color"
        [(colorPicker)]="color"
        [cpCmykEnabled]="true"
        [cpCancelButton]="true"
        [disabled]="canSelectColour"
        [cpPosition]="'top'"
    />

  </div>

  <p>{{ warning }}</p>

  <button mat-button (click)="createSession()">Confirm</button>
</div>

