
<div style="text-align: center;">
  <h1> Time table selection and creation</h1>

  <mat-form-field float appearance="outline">
    <mat-label> Table name </mat-label>
    <input matInput type="text" placeholder="Name..." [(ngModel)]="table" />
  </mat-form-field>

  <button mat-button (click)="submitTable()"> Submit  </button>

  <br><br>

  <mat-accordion  *ngFor="let table of tables; let i = index" multi=false style="text-align: left;">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{table}}
        </mat-panel-title>
        <mat-panel-description>
          Select/Delete
        </mat-panel-description>
      </mat-expansion-panel-header>

      <span>
        <button
          mat-button matTooltip="Open table"
          matTooltipPosition="left"
          color="primary"
          (click)="submitTable(table)"
        > Select
        </button>

        <button
          mat-button matTooltip="Delete table (FOREVER)"
          matTooltipPosition="right"
          style="text-align: right;"
          (click)="deleteTable(table, i)"
          color="warn"
        > Delete
        </button>

      </span>
    </mat-expansion-panel>
  </mat-accordion>

</div>

