<div style="text-align: center; height: 100%">
  <h2>Enter in session details for {{ data.dayTitle }}</h2>
  <mat-form-field float appearance="outline">
    <mat-label> Title </mat-label>
    <input matInput required [(ngModel)]="title" />
  </mat-form-field>

  <br />
  <mat-form-field appearance="outline">
    <mat-label> {{ selectedCat }}</mat-label>
    <mat-select>
      <mat-option *ngFor="let c of categories">
        <div *ngIf="c.title == 'Custom'" (click)="customCategory()">
          {{ c.title }}
        </div>
        <div *ngIf="c.title != 'Custom'" (click)="setCat(c)">
          {{ c.title }}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />
  <mat-form-field float appearance="outline">
    <mat-label> Start time </mat-label>
    <input
      matTimepicker
      placeholder="Start time"
      [(ngModel)]="startTime"
      mode="24h"
      [minDate]="min"
      [maxDate]="nMax"
      (click)="changeMax()"
    />
  </mat-form-field>

  <br />
  <div>
    <mat-form-field float appearance="outline">
      <mat-label> End time </mat-label>
      <input
        matTimepicker
        placeholder="End time..."
        [(ngModel)]="endTime"
        mode="24h"
        [minDate]="nMin"
        [maxDate]="max"
        (click)="changeMin()"
      />
    </mat-form-field>
  </div>
  <button mat-button (click)="submitSessionBlock()">Create</button>
</div>
