<div class="c">
  <h2 mat-dialog-title>Enter in session details for {{ data.dayTitle }}</h2>

  <mat-form-field float appearance="outline">
    <mat-label> Title </mat-label>
    <input matInput required [(ngModel)]="title" />
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label> {{selectedCat}}</mat-label>
    <mat-select>
      <mat-option *ngFor="let c of categories" >
         <div *ngIf="c.title=='Custom'" (click)="customCategory()">
          {{c.title}}
        </div>
        <div *ngIf="c.title!='Custom'" (click)="setCat(c)">
          {{c.title}}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  <mat-form-field float appearance="outline" >
    <mat-label> Start time </mat-label>
      <input
        matTimepicker
        placeholder="Start time"
        [(ngModel)]="startTime"
        mode="24h"
        [minDate]="min"
        [maxDate]="nMax"
        (click)="changeMax()"
      />
  </mat-form-field>

  <br>
  <div>
    <mat-form-field float appearance="outline">
      <mat-label> End time </mat-label>
      <input
        matTimepicker
        placeholder="End time..."
        [(ngModel)]="endTime"
        mode="24h"
        [minDate]="nMin"
        [maxDate]="max"
        (click)="changeMin()"
      />
    </mat-form-field>
  </div>

  <br>
  <div style="padding-top: 5px; padding-bottom: 5px;">

    <input [style.background]="color"
        [(colorPicker)]="color"
        [cpCancelButton]="true"
        [cpOKButton]="true"
        [disabled]="canSelectColour"/>

  </div>
  <br>

  <div style="background-color: lightgoldenrodyellow; text-align: center">
    <mat-dialog-actions>
      <button mat-button required (click)="cancel()">Cancel</button>
      <button
        mat-button
        required
        (click)="submitSessionBlock()"
        cdkFocusInitial
      >
        Create
      </button>
    </mat-dialog-actions>
  </div>
</div>
