
<div style="text-align: center;">

  <h1> {{title}} </h1>

  <mat-form-field float appearance="outline">
    <mat-label> {{info[0]}} </mat-label>
    <input matInput [(ngModel)]="a">
  </mat-form-field>
  <br>

  <div *ngIf="title=='Edit item'">
    <mat-form-field float appearance="outline" style="width: 80%;">
      <mat-label> {{info[1]}} </mat-label>
      <input matInput maxRows=10  [(ngModel)]="b">
    </mat-form-field>
  </div>

  <div *ngIf="title!='Edit item'">
    <input  [style.background]="color"
            [(colorPicker)]="color"
            [cpCancelButton]="true"
            [cpPosition]="pos">
  </div>

  <br>

  <button mat-button (click)="close()"> Finish </button>

</div>
