<mat-card>
  <mat-form-field appearance="fill">
    <mat-label> {{ selectedDay }}</mat-label>
    <mat-select>
      <mat-option *ngFor="let d of days" (click)="setDay(d)">
        {{ d }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card-content>

    <span>
      <mat-form-field float appearance="outline">
        <mat-label> Title </mat-label>
        <input matInput required type="text" [(ngModel)]="editTitle" />
      </mat-form-field>
      <br>

      <mat-form-field float appearance="outline" style="width: 70%;">
        <mat-label> Description </mat-label>
        <textarea matInput required type="text" maxRows=10 [(ngModel)]="editDescription"> </textarea>
      </mat-form-field>
    </span>

    <br>

    <button mat-button (click)="addItem()"> Add item </button>

  </mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-title> Incomplete </mat-card-title>
  <mat-accordion *ngFor="let item of items; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.getTitle() }}
        </mat-panel-title>
        <mat-panel-description> Edit/Complete </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        {{ item.getDesc() }}
      </p>
      <span>
        <button
          mat-button
          color="primary"
          (click)="editItem(item, i)"
        >
          Edit
        </button>

        <button
          mat-button
          style="text-align: right"
          (click)="completeItem(i)"
          color="warn"
        >
          Complete
        </button>
      </span>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

<br>

<mat-card>
  <mat-card-title> Completed </mat-card-title>

  <mat-accordion *ngFor="let item of completedItems; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.getTitle()}}
        </mat-panel-title>
        <mat-panel-description>
          Delete/Bring back
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        {{item.getDesc()}}
      </p>
      <span>
        <button
          mat-button
          matTooltip="Item is not complete, move back"
          matTooltipPosition="left"
          color="primary"
          (click)="moveItem(i)"
        >
          Bring back
        </button>
        <button
          mat-button
          color="warn"
          (click)="deleteItem(i)"
        >
          DELETE
        </button>

      </span>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

<mat-dialog-actions>
  <button mat-button (click)="close()">Exit</button>
</mat-dialog-actions>
