
<div class="header-content">

  <mat-form-field class="test">
    <mat-label> {{currentTable}} </mat-label>
      <mat-select>
      <mat-option>
        <button mat-button (click)="loadTable('Main')"> MAIN </button>
      </mat-option>
      <mat-option>
        <button mat-button (click)="loadTable('Default')"> DEFAULT </button>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button (click)="openSettings()"> Settings </button>

</div>

<app-week-table
  [days]="days"
  [table]="currentTable"
></app-week-table>
