.mat-grid-tile {
  border: solid 1px black;
}

.internalMatGrid{
  border:1px solid black;
  min-width:100%;
}

.example-card {
  width: 240px;
  height: 50px;
  margin-top: 0px;
}

.card {
  background-color: lightgrey;
  width: 18rem;
  
}
