
<mat-grid-list cols="15" rowHeight="3.125rem">
  <mat-grid-tile *ngFor="let head of headerContent" [colspan]="head.s">
      {{ head.t }}
  </mat-grid-tile>
</mat-grid-list>



<mat-grid-list cols="15" rowHeight="1700px">
  <mat-grid-tile [colspan]="1">
    <div class="internalMatGrid">
      <mat-grid-list class="times" cols="1" rowHeight="6.25rem" *ngFor="let time of times">
        <mat-grid-tile [colspan]="1">
          {{ time }}
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let d of days; let j = index" [colspan]="2">
    <div style="width: 95%; height: 100%; margin-top: 400px">
      <app-day-table
        [day]="d.sessions"
        [title]="table"
        [dayPos]="j">
      </app-day-table>
    </div>
  </mat-grid-tile>
</mat-grid-list>
