
// Custom card because it doesn't want to import the components module in the app.module
.custom-card {
  background-color: #e3e4e6;
  text-align: center;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
}

.text {
  font-size: 0.85rem;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 1px;
  background-color: green;
  margin-bottom: 5px;;
}

.card-style {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  // background-color: #f2f2f2;
}
