
<!-- Session design in the day -->

<!-- First line will give the session of the day [ses1, ses2 ... etc] -->
<div *ngFor="let ses of day.sessions; let i = index"
  [style.height.px]="getHeight(ses)"
  [style.background-color]="getColour(ses)"
  [style.margin-top.px]="getAmount(ses.start, i, day.sessions)"
  (click)="getFunction(ses.title, i, day.sessions)"
  class="custom-card"
>
  {{ ses.title }}howdy
</div>

<!-- Line 8: Gives all the sessions for the current day, this will help build the structure of the table -->
